/* Variables */

:root {
  --primary-text-col: #92CACD;
  --secondary-text-col: rgba(63, 77, 108);

  --header-background-col: rgb(44, 46, 53);
  --body-background-col: rgb(237, 235, 246);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--body-background-col);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  color: var(--secondary-text-col);
}

/* Header section */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--header-background-col);
  padding: 5px 0;
}

.logo {
  padding: 0 13px 0 180px;
  background-color: var(--primary-text-col);
  color: var(--header-background-col);
  margin: 5px 0;
  font-size: 3.1rem;
}

nav {
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px 10px 0 0;
  padding-right: 40px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav li {
  list-style-type: none;
  text-decoration: none;
  color: var(--primary-text-col);
  margin: 0 5px;
}

nav li a {
  font-size: 1.2rem;

  color: var(--primary-text-col);
  text-decoration: none;
  position: relative;
}

nav li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 107%;
  border-bottom: 4px solid var(--primary-text-col);
}

nav li a:hover {
  border-bottom: 3px solid lightgrey;
  color: lightgrey;
  cursor: pointer;
}

/* Hero banner */

.hero-banner {
  width: 100%;
  padding: 40px 0;
  position: relative;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
}

/* Using ::before pseudo selector to add a tinted layer over hero-banner image */
.hero-banner::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(18, 91, 144, 0.6);

}

.hero-banner h2 {
  color: var(--header-background-col);
  font-size: 1.7rem;
  font-weight: bolder;
  height: 50px;
  padding: 7px;
  margin-right: 90px;
  background-color: var(--primary-text-col);
  position: relative;
  z-index: 1;
}

/* Main section */

.page-section-title {
  font-size: 4.2rem;
  font-weight: 900;
  margin-top: 15px;
  line-height: 1.1;
  color: var(--secondary-text-col);
}

.page-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: right;
}


#about,
#work {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.contact {
  display: flex;
  flex-direction: rows;
  justify-content: space-around;
  text-align: left;
}

.contact-ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.contact-ul li,
.contact-ul li a {
  list-style-type: none;
  text-decoration: none;

}

.contact-ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 90px;
  width: 100%;
  border-bottom: 4px solid var(--secondary-text-col);
}

.contact-ul li a {
  color: var(--secondary-text-col);
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;

}

.page-section {
  margin-top: 40px;
  width: 100%;
}

.page-section-p {
  font-size: 0.8rem;
  text-align: left;
  padding: 20px 0;
  margin: 0 40px;
}

.page-section-title {
  border-right: 3px solid var(--secondary-text-col);
  padding-right: 10px;
  text-align: right;
}

.page {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.portfolio {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1f 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "showcase showcase"
    "card2 card3"
    "card4 card5";
}

.portfolio-card {
  border: 5px solid var(--primary-text-col);
  height: 120px;

}

#card-showcase {
  background-image: url("../images/02-portfolio-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: showcase;
}

#card2 {
  background-image: url("../images/02-portfolio-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: card2;
}


#card3 {
  background-image: url("../images/02-portfolio-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: card3;
}


#card4 {
  background-image: url("../images/02-portfolio-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: card4;
}


#card5 {
  background-image: url("../images/02-run-buddy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: card5;
}