/* Variables */

:root {
  --primary-text-col: #92CACD;
  --secondary-text-col: rgba(63, 77, 108);

  --header-background-col: rgb(44, 46, 53);
  --body-background-col: rgb(237, 235, 246);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--body-background-col);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  color: var(--secondary-text-col);
}

/* Header section */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--header-background-col);
  padding: 5px 0;
}

.logo {
  padding: 0 13px 0 180px;
  background-color: var(--primary-text-col);
  color: var(--header-background-col);
  margin: 5px 0;
  font-size: 3.1rem;
}

nav {
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px 10px 0 0;
  padding-right: 40px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav li {
  list-style-type: none;
  text-decoration: none;
  color: var(--primary-text-col);
  padding: 2px 1px;
  margin: 0 6px;
}

nav li a {
  font-size: 1.2rem;
  color: var(--primary-text-col);
  text-decoration: none; !important
  position: relative;
}

/* Li extended underline */
nav li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 110%;
  border-bottom: 3px solid var(--primary-text-col);
}

nav li a:hover {
  border-bottom: 3px solid lightgrey;
  text-decoration: none;
  color: lightgrey;
  cursor: pointer;
}

/* Hero banner */

.hero-banner {
  width: 100%;
  padding: 40px 0;
  position: relative;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
}

/* Using ::after pseudo element selector to add a tinted layer over hero-banner image */
/* TODO gradient */
.hero-banner::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(18, 91, 144, 0.6);

}

.hero-banner h2 {
  color: var(--header-background-col);
  font-size: 1.7rem;
  font-weight: bolder;
  height: 50px;
  padding: 7px;
  margin-right: 90px;
  background-color: var(--primary-text-col);
  position: relative;
  z-index: 100;
}

/* Main section */

.page-section-title {
  font-size: 4.2rem;
  font-weight: 900;
  line-height: 1.1;
  text-align: right;
  color: var(--secondary-text-col);
  min-width: 255px;
  flex: 0 0 0px;
  border-right: 4px solid var(--secondary-text-col);
  padding-right: 15px;
  margin-bottom: 20px;
}

.page-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: right;
}

#about,
#work {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
}

.contact-ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.contact-ul li,
.contact-ul li a {
  list-style-type: none;
  text-decoration: none;
  position: relative;

}

.contact-ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 23px;
  transform: translateX(-50%);
  width: 110%;
  border-bottom: 3px solid var(--secondary-text-col);
}

.contact-ul li a {
  color: var(--secondary-text-col);
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;

}

.page-section {
  margin-top: 15px;
  width: 100%;
}

.page-section-p {
  font-size: 0.8rem;
  text-align: left;
  padding: 20px 0;
  margin: 0 40px;
}

.page {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.portfolio {
  width: 80%;
  margin: 0 auto;
  padding: 0 30px;
  display: grid;
  grid-template-rows: 350px 120px 120px;
  grid-template-columns: 1f 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "showcase showcase"
    "card2 card3"
    "card4 card5";
}

.portfolio-card {
  border: 4px solid var(--primary-text-col);
  position: relative;
  overflow: hidden;
}

.portfolio-card::after {
content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: rgba(18, 91, 144, 0.6);
  transition: background-color 1.5s;
}

.portfolio-card:hover::after {
  background-color: rgba(18, 91, 144, 0);
  
}

#card-showcase {
  grid-area: showcase;

}

#card2 {
  grid-area: card2;
}


#card3 {
  grid-area: card3;
}

#card4 {
  grid-area: card4;
}

#card5 {
  grid-area: card5;
}

.portfolio-showcase-title {
  margin-bottom: 15px;
  padding: 5px 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--primary-text-col);
  position: absolute;
  top: 79%;
  z-index: 100;
}

.portfolio-card {
  cursor: pointer;
}

.portfolio-card-title {
  margin-bottom: 15px;
  padding: 5px 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--primary-text-col);
  position: absolute;
  top: 40%;
  z-index: 100;
}

.portfolio-card h3 {
  font-size: 1.3rem;
}

.portfolio-card h4 {
  font-size: 0.7rem;
}


.portfolio-card a {
  cursor: pointer;
}

.page-section img {
  max-width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

/* TODO media query for tablet viewport */


/* TODO media query for phone viewport */